.search-block {
    display: flex;
    flex-direction: column;
    background-color: #f7f8fa;
    border-radius: 10px;
    width: 80%;
    height: 120px;
    padding: 20px;
    gap: 20px;
    position: absolute;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    border: 1px solid rgba(128, 128, 128, 0.123);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.062);
}
.search-block > h1 {
    font-size: 21px;
    font-family: "Poppins-Bold";
    opacity: 90%;
    color: var(--color-bold);
}
.search-block > input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.123);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.062);
}
.greenContent {
    position: relative;
    padding-top: 50px;
    width: 100%;
    height: 280px;
    border-radius: 0px 0px 20px 20px;
    background-color: #3eb06b;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.178);
    overflow: hidden;
}
.greenContent > img {
    position: absolute;
    z-index: 0;
    opacity: 80%;
}
.icon-pizza {
    bottom: 0;
}
.icon-cachorroQuente {
    right: 0;
    top: 0;
}
.icon-bebida {
    top: -10px;
    left: 20px;
    transform: rotate(-60deg);
}
.icon-hamburguer {
    right: 0;
    bottom: 42px;
    transform: rotate(-20deg);
}
.icon-sanduiche {
    bottom: -10px;
    left: 40%;
    transform: rotate(-35deg);
}
.icon-japones {
    bottom: 60px;
    left: 40%;
    transform: rotate(5deg);
}